.player-left {
    height: 56px;
    width: 80%;
}

.player-right {
    height: 56px;
    width: 20%;
}

.bottom-player {
    height: 56px;
}

.bottom-nowPlaying {
    height: 25%;
}

.margin-14 { margin: 14px; }
.margin-right-20 {  margin-right: 20px;  }

.padding-top-56 {  padding-top: 56px;  }

.padding-0 {  padding: 0px !important;  }

.padding-logo {  padding-right: 10px; }

.play-padding {
    padding: 0 40px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

a:active {
    color: #f44336;
}

a {
    color: #000;
}